name: CheckTest

on:
 push:
   branches:
     - develop
     - main

jobs:
  welcome:
     runs-on: ubuntu-latest     

     steps:
       - name: Download your code  
         uses: actions/checkout@v4

       - name: Set up Python 
         uses: actions/setup-python@v4
         with:
           python-version: '3.x'

       - name: Install dependencies 
         run: |
           python -m pip install --upgrade pip
           pip install -r requirements.txt

       - name: Run tests 
         run: pytest -v